.optionName {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 8px;
  align-items: center;
  
  width: 100%;
  min-height: 28px;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: var(--text-primary);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  white-space: nowrap;
  font-size: 0.88rem;
  text-align: left;

  transition: 0.04s ease-in;

  cursor: pointer;
}
  .optionName span:first-child {
    color: hsl(0 0% 58%);
  }

  .optionName:hover,
  .optionName:focus-visible {
    background-color: hsl(0 0% 16%);
    outline: none;

    transition: 0.07s ease-out;
  }

  .optionName:active {
    background-color: hsl(0 0% 22%);
  }