.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 168px;
}

.header {
  padding: 4px 8px 5px;
  border-bottom: 1px solid hsl(0 0% 20%);
  margin-bottom: 2px;

  color: hsl(0 0% 48%);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 0.72rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}